[submodule ".vim/bundle/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/bundle/vim-ps1"]
	path = .vim/pack/syntax/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/complete/opt/coc.nvim"]
	path = .vim/pack/complete/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/colors/start/vim-solarized8"]
	path = .vim/pack/colors/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule ".vim/pack/complete/start/omnisharp-vim"]
	path = .vim/pack/complete/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "submodules/git-bash-prompt"]
	path = submodules/git-bash-prompt
	url = https://github.com/csc027/git-bash-prompt.git
[submodule "submodules/bashrc"]
	path = submodules/bashrc
	url = https://github.com/csc027/bashrc.git
