[user]
	email = csc_dev@protonmail.com
	name = Constantine Chen
[core]
	editor = nvim
	pager = less -S
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false
[mergetool "nvimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED"
[include]
	path = ~/.git.alias.config
	path = ~/.git.machine.config
