[alias]
	a    = add
	ap   = add -p
	ba   = branch -a
	bav  = branch -avv
	bd   = branch -d
	b    = branch
	bv   = branch -vv
	ca   = commit --amend --message
	c    = commit --message
	dc   = diff --cached
	dcw  = diff --cached --ignore-all-space
	d    = diff
	dn   = diff --name-only
	dnw  = diff --name-only --ignore-all-spacew
	ds   = diff --name-status
	dsw  = diff --name-status --ignore-all-spacew
	dt   = difftool
	dw   = diff --ignore-all-space
	e    = rebase
	ei   = rebase --interactive
	fa   = fetch --all
	fap  = fetch --all --prune
	f    = fetch
	fp   = fetch --prune
	ft   = fetch --tags
	g    = grep
	ha   = stash apply
	hl   = stash list
	ho   = stash pop
	hp   = stash
	hu   = stash -u
	hw   = stash show -p
	hwn  = stash show
	i    = init
	kb   = checkout -b
	l    = log --all --decorate --oneline --graph --color
	k    = checkout
	ld   = log --all --decorate --oneline --graph --color --boundary
	ldl  = log --all --decorate --graph --color --boundary
	ll   = log --all --decorate --graph --color
	lf   = log --all --graph --abbrev-commit --format=format:'%C(auto)%>|(30)%h%C(reset) %C(cyan)%an%C(reset)%C(auto)%d%C(reset) %C(white)%s%C(reset) - %C(dim white)%ar%C(reset)'
	llf  = log --all --graph --abbrev-commit --date=format:'%a %b %d, %Y %I:%M %p' --format=format:'%C(auto)%>|(30)%h%C(reset)  %C(magenta)%ad%C(reset)  %C(cyan)%an <%ae>%C(reset) %C(auto)%d%C(reset)%n %C(dim white)%>|(28)%C(reset)- %C(white)%s%C(reset)%n'
	llpf = log --decorate --graph --color -p --follow --
	llp  = log --all --decorate --graph --color -p
	lpf  = log --decorate --oneline --graph --color -p --follow --
	lp   = log --all --decorate --oneline --graph --color -p
	lr   = log --decorate --color -G
	ls   = log --decorate --color -S
	lt   = ls-tree --name-only -r
	mg   = merge
	mt   = mergetool
	oa   = remote add
	o    = remote -v
	p    = push
	pt   = push --tags
	pu   = push -u
	q    = cherry-pick
	r    = reset
	s    = status
	t    = tag
	u    = pull
	v    = mv
	w    = show
	wu   = for-each-ref --format='%(refname:short) <- %(upstream:short)' refs/heads
