{
    (
        modifiers: [
            Super,
        ],
        key: "space",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "Down",
    ): Minimize,
    (
        modifiers: [
            Super,
        ],
        key: "period",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Right",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "l",
    ): System(LockScreen),
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Tab",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
            Shift,
        ],
        key: "k",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
            Shift,
        ],
        key: "h",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "r",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
            Shift,
        ],
        key: "k",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "Right",
    ): Move(Right),
    (
        modifiers: [
            Super,
        ],
        key: "F11",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
            Shift,
        ],
        key: "l",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "m",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "h",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "b",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "i",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Up",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "Left",
    ): Move(Left),
    (
        modifiers: [
            Super,
            Ctrl,
        ],
        key: "Up",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Down",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "Right",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "Escape",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "Up",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "j",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "j",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "h",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "l",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
        ],
        key: "h",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "w",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "h",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
            Shift,
        ],
        key: "l",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
        ],
        key: "l",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "q",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
        ],
        key: "k",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Escape",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
            Shift,
        ],
        key: "j",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
        ],
        key: "j",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "Down",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "Left",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "f",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
        ],
        key: "Down",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "j",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "comma",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "slash",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
            Shift,
        ],
        key: "h",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
            Shift,
        ],
        key: "j",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "k",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "r",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "Tab",
    ): System(WorkspaceOverview),
    (
        modifiers: [
            Super,
        ],
        key: "0",
    ): Disable,
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "l",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Left",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
            Shift,
        ],
        key: "Down",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "Up",
    ): Maximize,
    (
        modifiers: [
            Super,
            Alt,
        ],
        key: "k",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "u",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
            Shift,
        ],
        key: "Up",
    ): Disable,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "k",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "e",
    ): System(HomeFolder),
}